html {
  /* display: grid; */
  /* font-family: "Poppins", sans-serif; */
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  height: 100%;
}
/* reseting the default css stlye of an anchor tag */
.a {
  color: inherit;
  text-decoration: none;
}
* {
  margin: 0;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* navbar css */
.nav_bar {
  margin-left: 50px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.nav_div1 ul,
.nav_div2 ul {
  list-style: none;
}

.nav_div1 ul {
  display: flex;
  justify-content: space-between;
}

.nav_div1 ul li img {
  width: 130px;
  height: 65px;
  margin-right: 30px;
}

.nav_div1 ul li div {
  cursor: default;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 600px;
  height: 30px;
  border-radius: 30px;
  align-items: center;
  padding-left: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.nav_div1 ul li div:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.nav_div1 ul li div img {
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.nav_btn2 {
  direction: flex;
  color: white;
  background-color: #4387fd;
  font-size: 15px;
  border: 0;
  width: 100px;
  height: 45px;
  border-radius: 4px;
  margin-right: 20px;
}

.nav_btn:hover {
  background-color: #1b66c9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* main body css */
.lists {
  display: flex;
  margin-left: 80px;
  cursor: pointer;
}

.lists a {
  text-decoration: none;
  color: black;
}
.lists p {
  margin: 10px;
  border: 1px solid rgb(206, 206, 206);
  padding: 15px;
  border-radius: 30px;
  text-decoration: none;
}

.lists p:hover {
  background-color: rgb(233, 231, 231);
}

.active {
  background-color: rgb(232, 240, 254) !important;
  margin: 10px;
  border: 0px !important;
  padding: 15px;
  border-radius: 30px;
  color: rgb(25, 103, 210);
}

hr {
  border-width: 0.1px;
  color: #f5f4f4;
  margin-top: 20px;
  margin-bottom: 15px;
}

.results {
  color: rgb(114, 113, 113);
  margin-left: 120px;
}

.container {
  display: flex;
  flex-direction: row;
  margin-left: 120px;
  margin-top: 20px;
  width: 80%;
}
.form {
  margin-right: 20px;
}

.form_elements,
.form_elements_message {
  display: flex;
  flex-direction: column;
}

.form_elements label,
.form_elements_message label {
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
}

.form_elements input {
  height: 25px;
}

.form_elements_message input {
  height: 85px;
}

.form button {
  margin-top: 20px;
  color: white;
  background-color: #4387fd;
  font-size: 15px;
  border: 0;
  width: 100px;
  height: 40px;
  border-radius: 4px;
  margin-bottom: 20px;
  cursor: pointer;
}

.form button:hover {
  background-color: #1b66c9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.left_section {
  width: 570px;
}

.left_box {
  padding: 20px;
  box-shadow: 0 0 5px rgba(121, 121, 121, 0.4);
  margin-right: 20px;
  margin-bottom: 10px;
}

.left_box h2 {
  font-weight: 400;
}

.left_box p {
  margin-top: 5px;
  color: rgb(125, 125, 125);
}

.long_logo img {
  width: 300px;
  height: 50px;
}

.searches h1 {
  font-size: 30px;
  font-weight: 400;
  color: rgb(107, 107, 107);
  margin-bottom: 10px;
}

.searches p a {
  font-size: 18px;
  text-decoration: none;
  color: #4135c4;
}

.searches p,
.right_socials p {
  padding-bottom: 5px;
}

.searches p a:hover {
  text-decoration: underline;
}

.searches hr {
  width: 98%;
}

.long_logo {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.right_section {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: 80%;
}

.right_section img {
  height: 380px;
  width: 400px;
}

.right_names,
.right_socials,
.right_details {
  padding: 15px;
  border-bottom: 0.5px solid rgb(189, 189, 189);
}

.right_names h1 {
  font-weight: 400;
}

.right_names p {
  color: rgb(115, 115, 115);
}

.right_details p {
  margin-bottom: 10px;
  color: rgb(58, 58, 58);
}

.weight {
  font-weight: 600;
  color: black;
}

.right_details a {
  color: #4135c4;
}
.right_socials h1 {
  font-weight: 400;
}

.right_socials p a {
  color: #4135c4;
  text-decoration: none;
}

.right_socials p a:hover {
  text-decoration: underline;
}

/* footer css */
.footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: rgb(240, 240, 240);
  align-items: center;
}

.footer_div1 {
  display: flex;
}

.footer_div1 a {
  text-decoration: none;
  padding-left: 20px;
  color: rgb(104, 104, 104);
}

.footer div a {
  text-decoration: none;
  margin: 10px;
  padding-right: 20px;
  color: rgb(104, 104, 104);
}

.footer_div1 a,
.footer div a:hover {
  text-decoration: underline;
}

/* making the page responsive */
@media (max-width: 1058px) {
  .nav_div1 ul li div {
    width: 500px;
    height: 30px;
  }
}

@media (max-width: 992px) {
  .nav_div1 ul li div {
    width: 400px;
    height: 20px;
  }
}

@media (max-width: 870px) {
  .nav_div1 ul li div {
    width: 300px;
    height: 20px;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    margin-top: 20px;
    width: 80%;
  }

  .right_section img {
    height: 380px;
    width: 400px;
  }

  .profile_img {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .nav_bar {
    display: flex;
    justify-content: center;
    margin-left: 0px;
  }
  .nav_div1 ul {
    display: flex;
    flex-direction: column;
  }

  .nav_btn2 {
    width: 0;
    margin-right: 0;
    position: absolute;
    visibility: hidden;
  }

  .nav_div1 ul a {
    display: flex;
    justify-content: center;
  }

  .lists {
    display: flex;
    margin-left: 10px;
    justify-content: center;
  }

  .left_section {
    width: 100%;
  }
  .results {
    margin-left: 50px;
  }

  .container {
    margin-left: 50px;
  }
}

@media (max-width: 450px) {
  .results {
    margin-left: 30px;
  }

  .container {
    margin-left: 30px;
  }

  .right_section img {
    height: 350px;
    width: 350px;
  }
}
